@font-face {
  font-family: 'Proxima Vara';
  src: url('../Hoteles_Hilton/font/proximaVara.woff2') format('woff2');
}
:root{
  --Opacity-gray: #807d7a;
  --Opacity-gray-letters:#cbc6c1;
  --Gris:#e5dfd9;
  --Verde:#A1C751;
}
*{
  padding: 0;
  margin: 0;
  font-size: 64%;
}

body {
  font-family: 'Proxima Vara';
  }

.contenedor{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.container-topbar{
  width: 100%;
  z-index: 30;
  position: absolute;
  top: 0;
}


.topbar{
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  height: 60px;
  justify-content: center;
  width: 100%;
  
  
}
.topbar {
  transition: all .2s ease-in-out;
  background: linear-gradient(to bottom, #1b1b1b, #e6cfcf00);
  z-index: 30;
}


/*Container logo*/

.container-2-3 h1{
  color: var(--Gris);
  text-align: center;
  font-weight: 400;
  user-select: none;
}

.container-1-3{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.location,.language,.client-services{
  color: var(--Opacity-gray-letters);
  text-decoration: none;
}

.location{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.location-svg{
  width: 11px;
  height: 11xp;
  color:var(--Opacity-gray) ;
}

.container-location:hover svg ,.container-location:hover a,.client-services:hover, .language:hover{
  color: var(--Gris)
}

.language{
  cursor: pointer;
}

.container-3-3{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.link-login,.favorites,.bag,.search{
  color: var(--Opacity-gray-letters);
  text-decoration: none;
}

.container-favorites{
  width: 13px;

}

.favorite-svg,.bag svg,.search svg{
  color: var(--Opacity-gray);
}

.favorite-svg{
  width: 14px;
  height: 13px;
}

.link-login:hover,.favorites-svg:hover,.container-bag:hover a,.container-bag:hover svg, .search-svg:hover{
  color: var(--Gris);
  }

.search-svg{
  width: 33px;
  height: 33px;
}

.cc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cc p{
  font-weight: 400;
}

/*Slider*/


.row{
  width: 100vw;
}

.c-item{
height: 700px;
}

.c-img{
height: 100%;
object-fit: cover;
filter: brightness(0.6);
}

.btn-c a{
text-decoration: none;
color: #fff;
}

/*Content*/

.content{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  width:80%;
  text-align: center;
  color: var(--Opacity-gray);
  font-weight: bold;
  border-bottom: 2px solid var(--Opacity-gray);
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn_search{
  width: 140px;
  height: 40px;
}

.form-container input{
  height: 40px;
  width: 40vw;
  text-align: center;
  border-radius: 10px;
  border-color: #000000;
}

.container-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.container-1 form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-1 form input{
  width: 80vw;
  text-align: center;
  border-style: hidden;
  border-bottom: 2px solid var(--Opacity-gray);
}

.container-1 form input:focus{
  outline: none;
}


.container-1 .check{
  width: 20px !important;
}

.btn_2{
  width: 50%;
}

.container-2{
  padding: 20px;
}

.container-2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-2 img{
  object-fit: cover;
  width: 90%;
  height: 50%;
  border-radius: 20px
}
/*Animacion TOPBAR*/

.topbar {
 transition: all .2s ease-in-out;
 background: linear-gradient(to bottom, #1b1b1b, #e6cfcf00);
 z-index: 30;
}
.topbar:hover{
  transition: all .2s ease-in-out;
  background-color: #1b1b1b;
}
.container-3-3 .container-location{
  display: none;
} 

/*footer*/
footer{
  display: flex;
  flex-direction: column;
  background-color:black;
  justify-content: center;
  align-items: center;
  height: 50px;
  max-height: 50px;
  width: 100%;
}

.footer p{
  color: aliceblue;
}

.footer{
  display: flex;
  gap: 5px;
  align-items: center;
}

.footer i{
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.footer svg{
  fill: #ffff;
}

/*

        <div class="conainer-content">
            <section class="content">
                <div id="heading" class="heading display-4">Cotizar</div>
            </section>

            <form class="form-container ms-5 mt-5" action="index.php" method="post">
                <input required="true" class="fs-3" type="number" name="precio"
                    placeholder="Ingrese el costo por noche">
                <button class="btn_search btn btn-primary fs-2" type="submit" value="Buscar">Buscar</button>
            </form>

            <?php
        
        // Obtenemos el precio ingresado por el usuario
            $precio = isset($_POST['precio']) ? $_POST['precio'] : 0;
            if($precio != 0){
                // Creamos el objeto hotel
            $hotel = HotelFactory::crearHotel($precio);

            // Imprimimos el formulario del hotel
                $hotel->imprimirFormulario();
            }
        ?>
        </div>

*/